apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  labels:
    app: python-app

spec:
  replicas: 2

  selector:
    matchLabels:
      app: python-app
  
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-container
        image: mrrohan23/python-app:1-4f3ba8a
        ports:
         - containerPort: 5000
        imagePullPolicy: Always
